*{
    margin: 0;
    padding: 0;
 
 }
 #container
{
    
    width: 1254px;
    margin: 0 auto;
    border: 2px solid black;


}
#header
{
    background-color:#333D79FF;
    width: 1254px;
    height: 80px;
    padding-top: 30px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#navigation
{
    background: linear-gradient(to left ,#FAEBEFFF, white,#333D79FF); 
    width: 1254px;  
}
#navigation
{
    
}
#navigation ul li
{
    list-style: none;
    float: left;
    width: 100px;
    padding: 15px ;
    text-align: center;
}
#navigation ul li:hover
{
    background-color: white;
    color: #333D79FF;
    border-radius: 10px;
}
#navigation a
{
    color: black;
}
#middle
{
}
#left
{
     
    width: 750px;
    height: 350px;
    float: left;
}
.post
{
    margin: 20px;
    
}
.title
{
    background: brown;
    padding: 15px 10px;
    color: white;   
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}
.description
{
    background-color: #f1f1f1;
    padding: 20px;
}
#right
{
    width: 504px;
    height: 350px;
    float: left;
}
#right h2
{
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer
{
    background-color:darkcyan;
    width: 1254px;
    height: 117px;

}

